<div class="container">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="todoForm-wrapper">
      <mat-form-field class="todoForm-input">
        <mat-label>What you want to do?</mat-label>
        <input matInput maxlength="150" [ngModel]="todoForm.value.description" formControlName="description"/>             
      </mat-form-field>
      <button mat-stroked-button class="todoForm-submitButton" color="primary">Submit</button>
    </div>    
  </form>  
  <mat-list class="todolist">
    <mat-list-item class="todolist-item" *ngFor="let todo of todos">
      <div [ngClass]="{'done': todo.done}">{{ todo.description }}</div>
      <div class="item-actions">
        <button class="item-button" (click)="markAsDone(todo)" mat-mini-fab color="basic" aria-label="Mark as done button">
          <mat-icon class="button-icon">done</mat-icon>
        </button>
        <button class="item-button" *ngIf="!todo.done" (click)="ableToEdit(todo)" mat-mini-fab color="primary" aria-label="Edit button">
          <mat-icon class="button-icon">edit</mat-icon>
        </button>
        <button class="item-button" (click)="deleteTodo(todo.id)" mat-mini-fab color="warn" aria-label="Delete button">
          <mat-icon class="button-icon">delete</mat-icon>
        </button>
      </div>      
    </mat-list-item>    
  </mat-list>
</div>
