/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

html, body { 
  height: 100%; 
  margin: 0px;
  padding: 0px; 
}

.container {  
  max-width: 800px;
  margin: 0px auto;
  padding: 0px 15px;
  width: 100%;
}
